:root {
    --font-family: 'Montserrat', sans-serif;

    --font-size-xs: 10px;
    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-size-l: 16px;
    --font-size-xl: 18px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 24px;

    --line-height-xs: 14px;
    --line-height-s: 16px;
    --line-height-m: 18px;
    --line-height-l: 20px;
    --line-height-xl: 22px;
    --line-height-xxl: 24px;
    --line-height-xxxl: 28px;

    --z-index-notifications: 50;
}