.s {
    font-size: 14px;
}

.m {
    font-size: 18px;
}

.l {
    font-size: 22px;
}

.xl {
    font-size: 26px;
}

.primary {
    color: var(--black);
}

.bold {
    color: var(--black);
    font-weight: bold;
}

.gray {
    color: var(--gray);
}

.white {
    color: var(--white);
}

.blue {
    color: var(--blue);
}

.green {
    color: var(--green);
}