.app_light {
    --blue: #508BFF;
    --white: #FFF;
    --opacity-blue: #508BFFBF;
    --opacity-white: #DBDBDB;
    --black: #030303;
    --gray: #BDBDBD;
    --green: #5DE147;
    --gray-black: #1E1E1E;
}