.wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    background: var(--blue);
    position: absolute;
    border-radius: 5px;
    padding: 10px;
}

.top {
    text-align: center;
}

.right {
    right: -200px;
}

.text {
    color: var(--white);
}

.wrapperRight {
    flex-direction: row;
}